%table.table.table-striped.accounts.collection
  %thead
    %tr
      %th= t_attr(:code, Account)
      %th= t_attr(:type, Account)
      %th= t_attr(:account_type, Account)
      %th= t_attr(:account_grouping_type, Account)

      %th= t_attr(:title, Account)
      %th.action-links
  %tbody
    = render @accounts

= render 'bookings/sidebar'
